.profile-image {
    width: 100%;
    height: 100%;
}

.user-profile {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-gap: 2rem;
}

.profile-header {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.social-btn-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5px;
    margin-top: 2rem;
  }
  
  .custom-social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-div {
    display: grid;
    margin-right: 2rem;
    width: 13vw;
    height: 13vh;
  }

  .middle-div {
    width: 50%;
  }

  .separator {
    width: 1px;
    background-color: #ccc; /* Color of the separator line */
    height: 100%; /* Fill the height of the container */
    margin: 0 10px; /* Optional: Adds space between the divs */
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .basic-info-div {
    display: flex;
  }

  .potential-roommate-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }

  .potential-roommate-section section {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    /* padding: 1rem; */
  }

  .potential-roommate-section-view {
    display: grid;
    /* grid-template-columns: 1fr 3fr; */
    gap: 2rem;
  }

  .preferences-section {
    background-color: #ffd600;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  .favourites-section {
    max-height: 70vh;
    overflow-y: scroll;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ffd600;
    border-radius: 0.5rem;

  }

  .favourites-section .user-card {
    background-color: white;
  }

.preference-section-heading{
  display: flex;
  margin-bottom: 1rem;
}

.user-info-update {
  display: flex;
  gap: 5rem;
}

.custom-update-btn{
  background: none !important;
  color: black !important;
    border: 1px solid black !important;
}

.favourites-section-heading {
  padding: 0.5rem;
}

/* .preference-heading {
  color: white;
} */

.custom-modal-header {
  background-color: #ffd600;
}

.custom-input-row {
  margin-bottom: 1rem;
}

.custom-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.drink-smoke-div{
  display: flex;
  gap: 10px;
}